.links {
    display: flex;
    gap: 2px;
    max-height: 40px;  
    justify-content: space-between;

}
@media (max-width: 548px){
    .links {
        height: 25px;
    }
    .grid_trabajo {
        display: flex;
        flex-direction: column;
       

    }    
    .grid_trabajo img {
        max-width: 70%;
  
    }
    
    
}
@media (max-width: 768px) {
    .vitoText {
        display: none;
    }
    
}

